n8n-opensolar-relay-workflow.json
{
  "name": "OpenSolar to 180 Sync Relay",
  "nodes": [
    {
      "parameters": {
        "path": "opensolar-ghl-sync",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "Webhook_OpenSolar",
      "name": "Webhook OpenSolar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-secret-header",
              "leftValue": "={{ $json.headers && $json.headers['x-opensolar-signature'] ? 'present' : '' }}",
              "rightValue": "present",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "IF_BasicValidation",
      "name": "IF Basic Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SYNC_APP_URL + '/api/sync/opensolar' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-opensolar-signature",
              "value": "={{ $json.headers['x-opensolar-signature'] || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "HTTP_ForwardToSyncApp",
      "name": "Forward to Sync App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, error: 'missing x-opensolar-signature header' } }];"
      },
      "id": "Code_BadRequest",
      "name": "Bad Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        360
      ]
    }
  ],
  "connections": {
    "Webhook OpenSolar": {
      "main": [
        [
          {
            "node": "IF Basic Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Basic Validation": {
      "main": [
        [
          {
            "node": "Forward to Sync App",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bad Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "opensolar-relay-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "opensolar-relay-template",
  "tags": []
}
